.matches {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
}

.match-team__name_home {
  text-align: right;
}

.match-team__crest {
  text-align: center;
}

.match-team__crest img {
  height: 1.5em;
}

.match-score {
  text-align: center;
}

.match-score__result {
  background: #38003c;
  color: #fff;
  display: inline-block;
  width: 6em;
}
